#dropaward {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold,"Vollkorn";
    color: #bbb;
}

.hasaward {
    background-color: darkgreen;
}

body {
    padding-top: 60px;
    font-family: Arial,Microsoft JhengHei,sans-serif;
    font-size: 18px;
}

.tabletitle {
    font-size: 24px;
    text-align: center;
    color: blue;
    background-color: lightgray;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.slot {
    float: left;
}

/*#award{    
    width: 50%;
}

#emploee{    
    float:left;
    width: 50%;
}*/
